.card1 {
  width: 300px;
  height: 400px;
  background-image: linear-gradient(163deg, #4F86E7 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  
}

.card2 {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}