.uv_card{
    background-color: white;
    border-radius: 29px;
    width: 220px;
    height: 110px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.text_div{
    display: flex;
    justify-content: space-around;
    
}

.levels_prec{
    display: flex;
    justify-content: flex-start;
    color: #c9c9c9;
}

.levels_prec>div {
    margin-left: 6px;
}

.normal_div_prec {
    position: relative;
}

.normal_div_prec::before {
    content: ' ';
  position: absolute;
  left: 2px;
  top: 16px;
  width: 12px;
  height: 7px;
  border-radius: 9px;
  background: #DCDCDC;
}
.normal_div_prec::after {
    content: ' ';
  position: absolute;
  left: 2px;
  top: 16px;
  width: 7px;
  height: 7px;
  border-radius: 9px 0px 0px 9px;
  background:#5C9CE5;
}



.good_div_prec {
    position: relative;
}

.good_div_prec::before {
    content: ' ';
  position: absolute;
  left: -2px;
  top: 16px;
  width: 12px;
  height: 7px;
  border-radius: 9px;
  background: #5C9CE5;
}
.bad_div_prec {
    position: relative;
    
}

.bad_div_prec::before {
    content: ' ';
  position: absolute;
  left: 0px;
  top: 16px;
  width: 12px;
  height: 7px;
  border-radius: 9px;
  background:#DCDCDC;
}

